* {
  background-color: black;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #3498db;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #3498db;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #54ade8;
  color: #fff;
}

input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #3498db;
  color: #3498db;
  text-decoration: #3498db;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

select {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#movieList {
  display: inline-block;
  padding: 50px 50px;
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #3498db;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

#personsList {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #3498db;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}